<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0" *ngFor="let servico of catalogoServico; index as i">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi {{servico.imagem}}"></i></div>
                <h2 class="h4 fw-bolder">{{ servico.titulo }} </h2>
                <p>{{ servico.descricao }}</p>
               
                <button (click)="editar(servico.id)"   type="button" class="btn btn-info btn-sm btn-block">Editar</button>&nbsp;
                <button (click)="deletar(servico.id)"   type="button" class="btn btn-danger btn-sm btn-block">Excluir</button>
            </div>
        </div>
    </div>
    
    <app-servico-formulario></app-servico-formulario>
    
</section>
