<br>
<section class="content">
    <div class="card">
    <div class="card-body row">
        <div class="col-5 text-center d-flex align-items-center justify-content-center">
            <div class="">
                <h2>SENAC<strong>|Script WEB</strong></h2>
                <p class="lead mb-5">Cadastro de servico</p>
            </div>
        </div>
        <div class="col-7">
            <form #servicoForm="ngForm" (ngSubmit)="editar(servicoForm.value)">
                <div class="form-group">
                    <label for="imagem">Nome da imagem</label>
                    <input type="text" id="imagem" name="imagem" ngModel placeholder="imagem" class="input-field" />
                </div>
                <div class="form-group">
                    <label for="titulo">Titulo do serviço</label>
                    <input type="text" id="titulo" name="titulo" ngModel placeholder="titulo" class="input-field" />
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição do serviço</label>
                    <input type="text" id="descricao" name="descricao" ngModel placeholder="descricao" class="input-field" />
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark" [disabled]="!formulario.valid" >Atualizar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>